body {
    background-color: rgb(39, 36, 36);
    color: beige;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 235px;
}

.screen {
    width: 235px;
    height: 100px;
    background:rgb(104, 174, 184);
}

.buttons * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: red;
}

.buttons *:hover {
    background: rgb(216, 75, 75);
}