body {
    background-color: rgb(39, 36, 36);
    color: beige;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 100px;
}

.buttons * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: red;
}