body {
    background-color: rgb(39, 36, 36);
    color: beige;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: auto;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 235px;
}

.screen-container {
    display: flex;
    justify-content: space-between;
    width: 235px;
    height: 100px;
    background:rgb(104, 174, 184);
}

#display-calculation {
    color: black;
    font-size: 30px;
}

#display-result {
    align-self:flex-end;
    justify-self: center;
    color: rgb(248, 53, 53);
    font-size: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: red;
}

.btn:hover {
    background: rgb(216, 75, 75);
}